body {
    /* background-color: rgb(249, 252, 106); */
    margin: 0;
    background-image: url(https://images.pexels.com/photos/1303094/pexels-photo-1303094.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.test-link {
    text-decoration: none;
}

/* Modal ========================== */
.backdrop,
.backdrop2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 320px;
    height: 300px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    padding: 25px;
}

@media screen and (min-width: 600px) {
    .modal {
        width: 450px;
    }

}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.flag {
    width: 150px;
    height: 70px;
    background-image: linear-gradient(to bottom, #230cf7 50%, #ffb800 50%);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-item:not(:last-child) {
    margin-bottom: 20px;
}

/* =================== */

.btn,
.btn-2,
.btn-3,
.btn-4 {
    display: block;
    background-color: blue;
    color: white;
    padding: 15px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin: 80px auto 20px auto;
}

.disabled_btn {
    background-color: rgb(153, 153, 160);
}

.tooltip-button {
    position: relative;
    background-color: blue;
    color: white;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

.tooltip-button::before {
    content: "Отчёт по кол-ву построенных отчётов!";
    position: absolute;
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    width: 120px;
    top: 115%;
    left: -40%;
    transform: translateX(-50%);
}

.tooltip-button:hover::before {
    opacity: 1;
    visibility: visible;
}


.tooltip::before {
    content: "Отчёт по кол-ву построенных отчётов №2!";
    position: absolute;
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    width: 120px;
    top: 115%;
    left: -40%;
    transform: translateX(-50%);
}

.tooltip:hover::before {
    opacity: 1;
    visibility: visible;
}

.btn-hover {
    width: 130px;
    height: 60px;
    background-color: white;
    padding: 5px;
    text-align: center;
}

.btn-common:hover {
    background-color: rgb(62, 62, 236);
    color: rgb(94, 231, 185);
}

@media screen and (min-width: 600px) {

    .btn,
    .btn-2,
    .btn-3 {
        font-size: 20px;
    }
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(87 0 111);
    padding: 20px 30px;
}

@media screen and (min-width: 900px) {
    .header {
        padding: 20px 50px;
    }

}

.logo {
    width: 200px;
    height: 50px;
}

.mob-logo {
    margin: 10px;
}

.navigate {
    display: none;
    margin-left: auto;
    max-width: 400px;
}

@media screen and (min-width: 768px) {
    .navigate {
        display: block;
    }
}

.navigate:not(:last-child) {
    margin-right: 15px;
}

.main-box {
    margin-top: 30px;
    margin: 0 auto;
    width: 60vw;
    padding: 10px;
}

.main-title {
    color: rgb(0, 38, 255);
    text-align: center;
    font-size: 24px;
    text-shadow: 0.7px 0.7px 1px #dbd0d0;
    margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
    .main-title {
        font-size: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .main-title {
        font-size: 44px;
    }
}


.text,
.text-2,
.text-3 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: blue;
    text-shadow: 0.7px 0.7px 1px #1a2432;
}

.counter {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-top: 50px;
    text-shadow: 0.7px 0.7px 1px #1a2432;
}

.text-3,
.text-2 {
    margin-top: 35px;
}

@media screen and (min-width: 600px) {

    .text,
    .text-2,
    .text-3 {
        font-size: 32px;
    }
}

.spinner,
.spinner-2 {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #0939bd;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.diargam-box {
    max-width: 1000px;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.diagram {
    width: 80%;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
    text-shadow: 0.7px 0.7px 1px #494949;
    margin-left: auto;
}

@media screen and (min-width: 600px) {
    .nav-link {
        font-size: 24px;
    }
}

.nav-link:hover {
    color: #ffb800;
}

.canvas {
    background-color: azure;
    padding: 30px 60px 30px 30px;
}

.short-list {
    height: auto;
    max-width: 400px;
    border: 3px solid black;
    border-radius: 6px;
    padding: 10px;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .short-list {
        padding: 20px;
    }
}

.short-list_item {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.short-list_item:not(:last-child) {
    margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
    .short-list_item {
        font-size: 20px;
    }
}

@media screen and (min-width: 1100px) {
    .short-list_item {
        font-size: 26px;
    }
}

.short-list_item:hover {
    cursor: pointer;
    color: green;
}

.input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 15px;
}

.red-item:hover {
    cursor: pointer;
    color: red;
}

.menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    line-height: 0px;
    margin-left: auto;
    transition-property: opacity, filter;
    transition-duration: .15s;
    transition-timing-function: linear;
}


@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.burger-icon {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
}


.mobile-menu {
    position: fixed;
    z-index: 100;
    top: -100%;
    width: 100vw;
    height: 100%;
    background-color: #1a2432;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-100%);
    transition: transform 1s cubic-bezier(.4, 0, .2, 1), opacity 1s cubic-bezier(.4, 0, .2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(100%);
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.close-mob-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    transition: transform, 1s cubic-bezier(.4, 0, .2, 1);
}

.close-mob-btn::before,
.close-mob-btn::after {
    position: absolute;
    left: 15px;
    content: "";
    width: 2px;
    height: 20px;
    background-color: white;
}

.close-mob-btn:hover {
    transform: scale(1.2);
}

.close-mob-btn::before {
    transform: rotate(45deg);
}

.close-mob-btn::after {
    transform: rotate(-45deg);
}

.mob-container {
    width: 80%;
    height: 80%;
    padding: 20px;
    margin: 40px auto;
}

.mob-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mob-item {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 24px;
    text-shadow: 0.7px 0.7px 1px #494949;
    margin-top: 20px;
}

.item-input {
    display: flex;
    align-items: center;
}

.report-input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.mob-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 24px;
    text-shadow: 0.7px 0.7px 1px #494949;
}

.mob-item-txt {
    color: white;
}

.mob-item:hover {
    color: #ffb800;
}

.mob_btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(218, 221, 50);
    color: #230cf7;
    border: none;
    border-radius: 6px;
    padding: 5px;
    margin-top: 20px;
}

.mob_btn:hover {
    background-color: rgb(94, 95, 6);
    color: #ffffff;
    transition-duration: 0.5s;
}

.test_container {
    background-color: #1a2432;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 30px auto;
}

@media screen and (min-width: 768px) {
    .test_container {
        width: 600px;
    }
}

.main-test_title {
    font-size: 22px;
    text-align: center;
    color: #ff5252;
}

@media screen and (min-width: 768px) {
    .main-test_title {
        font-size: 34px;
    }
}

.test_title {
    margin: 20px 0px;
    text-align: center;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .test_title {
        font-size: 30px;
    }
}

.test_list {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.test_img {
    width: 200px;
    height: 300px;
}

@media screen and (min-width: 768px) {
    .test_img {
        width: 400px;
        height: 500px;
    }
}

.last_info {
    margin: 30px auto;
    color: #25b808;
    text-align: center;
}

.last-title {
    text-align: center;
}

.test-link {
    margin-left: 0;
    margin-top: 30px;
}

.test_list-item {
    margin-bottom: 20px;
}

.common-item_test:hover {
    transform: scale(1.07);
    color: aqua;
    transition: transform, 0.3s cubic-bezier(.4, 0, .2, 1);
}

/* ============decorate */

.tree {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 350px;
    height: 380px;
    transform: translateX(-46%);
    pointer-events: none;
    user-select: none;
}

.toys {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 240px;
    min-height: 55px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    border: 2px solid rgb(106, 106, 175);
    border-radius: 8px;
    background-color: #222f1373;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
    transform: translateX(-46%);
}

.toy_img {
    width: 50px;
    height: 50px;
    user-select: none;
    cursor: pointer;
}

.decor-title {
    text-align: center;
    color: rgb(0, 38, 255);
    margin-top: 20px;
}

.decor-link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0.7px 0.7px 1px #3d4110;
    font-size: 30px;
    font-weight: 700;
    animation: heartbeat 1.3s infinite;
    margin: 20px 0px 20px 200px;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.yanik {
    width: 330px;
    height: 330px;

}

.decor-block {
    display: none;
    position: absolute;
    top: 110px;
    left: 10px;
}

@media screen and (min-width: 810px) {
    .decor-block {
        display: block;

    }
}